/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #444;
}

/* Estilos para la carga de archivos */
label[for="fileInput"] {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

input[type="file"] {
    display: block;
    margin: 0 auto 20px;
}

/* Estilos para el área de consulta */
#queryInputContainer {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el área de salida */
textarea {
    width: 80%;
    max-width: 600px;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    resize: none;
}